.dasboardContainer{
    display: flex;
    justify-content: space-between;
    width: 80%; /* Ajusta el ancho según tus necesidades */
}
.chart-container {
    width: 40%; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta el alto según tus necesidades */
    background-color: #f55353; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;/* Ajusta el alto según sea necesario */
  }
  .div-buttom{
    width: 40%; /* Ajusta el ancho según tus necesidades */
    height: 100px; /* Ajusta el alto según tus necesidades */
    background-color: #f55353; /* Color de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
